<%- include('layout/header') %>   

<style>
  form{
    width: 29vw;
  }
  section{
    display: grid; justify-items: center;padding: 0.8rem;width: 50%;margin: 0 auto; border-radius: 10px;
  }
  @media only screen and (max-width: 600px){
  form {
    width: 100%;
  }
  section{
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
  }
  @media only screen and (min-width: 600px) and (max-width: 768px){
  form {
    width: 100%;
  }
  section{
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
  }
  
</style>
</head>

<body>

    <!--Main layout-->
    <main style="margin-top: 50px; padding-left: 0" >
        
        <div class="container pt-2 ">
            <!--Section: Statistics with subtitles-->
            <section>
                <h1 class="mb-4" style="text-align: center;">Forget Password</h1>
                 <% if (typeof errorMessage !== 'undefined') { %>
                      <p style="color: red;"><%= errorMessage %></p>
                    <% } %>
                <form action="/forget-password" method="post" id="forget-password" enctype="multipart/form-data">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="username" id="userName" placeholder="User Name" required>
                          <label for="userName" class="form-label">User Name</label>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" required>
                          <label for="password" class="form-label">New Password</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" name="passwordConfirm" id="password" value="" placeholder="Password" required>
                          <label for="password" class="form-label">Confirm Password</label>
                        </div>
                      </div>

                    <!-- Submit button -->
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-12">
                              <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end mt-4">
                                <p class="m-0 text-secondary text-center">Remember account? <a href="/login" class="link-primary text-decoration-none">Login</a></p>
                              </div>
                            </div>
                          </div>

                        <button style="width: 100%; margin-top: 10px;" id="login-btn" class="btn btn-primary btn-block btn-lg mb-4">Change Password</button>
                    </div>

                </form>
             
            </section>
        </div>
    </main>

    <script>
      

 document.getElementById('forget-password').addEventListener('submit', (e) => {
  e.preventDefault();
 
  const formData = new FormData(e.target);
  const formObject = Object.fromEntries(formData.entries());
 
  fetch('/forget-password', {
    method: 'POST',
      headers: {
          'Content-Type': 'application/json'
      },
      body: JSON.stringify(formObject)
  })
  .then(response => response.json())
  .then((data) => {
   if (data.success) {
    Swal.fire({
     title: 'Password updated Successfully',
     text: data.message,
     icon: 'success',
     showConfirmButton: false,
     timer: 2000
 }).then(() => {
     document.getElementById('forget-password').reset();
     window.location.href='/login';
 });
   } else {
    Swal.fire({
        title: 'Error',
        text: data.message,
        icon: 'error',
        showConfirmButton: false,
        timer: 2000
    });
 }
 })
 .catch(error => {
 Swal.fire({
    title: 'Error',
    text: 'There was a problem updating your information. Please try again later.',
    icon: 'error',
    showConfirmButton: false,
    timer: 2000
 });
 console.error('Error:', error);
 });
  })
 
    </script>

<%- include('layout/footer') %>